.logo {
    color: white;
    font-size: x-large;
    width: 120px;
    height: 31px;
    float: left;
    margin-right: 10px;
}

.search {
    margin-left: 15px;
    margin-right: 40px;
}

.login {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

.cart {
    float: right;
    margin-right: -130px;
    margin-top: 10px;
    font-size: 40px;
}
