.div1 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div2 {
    height: 300px;
    width: 200px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div3 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}
